<app-card cardStyle="primary">
    <h1>About Me</h1>
    <div
        class="text-container flex justify-content-space-between align-items-center"
    >
        <div>
            <p>
                Hello! My name is Amanda and I love to create beautiful digital
                experiences.
            </p>
        </div>
        <img class="profile" src="../../../assets/profile-22.jpg" />
    </div>
    <p>
        My interest in web development started back in 2007, when I was creating
        custom MySpace and blog layouts with HTML/CSS. After spending some time
        as a design student and art teacher, I decided to try combining my
        visual skills with web development, and turns out, that's a really good
        combo!
    </p>

    <p>
        With a visually detail oriented, and problem solving mind, I am
        passionate about creating efficieny in design-development processes that
        result in exceptional user experiences. In my current role, I've led the
        fight for consistent UI with a well-documented component library, and
        contribution process.
    </p>
</app-card>
