<h2>What I've built</h2>
<ng-container *ngFor="let project of projects">
    <div class="project-container" *ngIf="project.featuredProject">
        <h4 class="text-highlight">{{ project.title }}</h4>
        <div class="flex align-items-center">
            <app-card cardStyle="glass" padding="2rem" width="500px">
                <div class="flex align-items-center project-content">
                    <div>
                        <p>{{ project.description }}</p>
                        <div>
                            <div
                                class="flex gap-xs align-items-center margin-top-sm"
                            >
                                <a [href]="project.github" target="_blank">
                                    <app-svg svg="github"></app-svg>
                                </a>
                                |
                                <span
                                    class="text-secondary"
                                    *ngFor="let item of project.tech"
                                    >{{ item }}</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
            <a [href]="project.link" target="_blank">
                <img [src]="project.img" alt="" class="project-img" />
            </a>
        </div>
    </div>
</ng-container>
