@import '../../styles/mixins.scss';
@import '../../styles//responsive.scss';

.project {
    &-container {
        padding: 1rem 0;
    }

    &-img {
        @include image-hover-style;
        height: 400px;
        width: 600px;
        border-radius: 10px;
        object-fit: cover;
        position: relative;

        &:hover {
            box-shadow: 100px black;
        }

        @include respond(tablet) {
            width: 100%;
            height: 200px;
        }
    }

    &-content {
        position: relative;
        padding: 1rem;
        display: flex;
        align-items: center;

        @include respond(tablet) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
        }
    }

    &-description {
        width: 43%;
        padding: 1rem;
        display: flex;
        flex-direction: column;

        @include respond(tablet) {
            width: 100%;
            padding: .5rem;
        }
    }

    &-tech {
        display: flex;
        gap: .75rem;
        flex-wrap: wrap;
    }
}
