@import './variables.scss';

@font-face {
    font-family: inter;
    src: url('../../assets/fonts/Inter-Regular.ttf');
}

html {
    background-color: var(--apl-color-background-blue);
    font-family: inter;
}

body {
    color: var(--apl-text-body-color);
    font-weight: 100;
    font-size: var(--fz-xl);

    @include respond(tablet) {
        font-size: var(--fz-md);
    }
}

h1 {
    font-size: var(--fz-h1);
    @include respond(tablet) {
        font-size: var(--fz-xl);
    }
}

h2 {
    font-size: var(--fz-h2);
    @include respond(tablet) {
        font-size: var(--fz-xl);
    }
}

h3 {
    font-size: var(--fz-h3);
}

h4 {
    font-size: var(--fz-h4);
    @include respond(tablet) {
        font-size: var(--fz-lg);
    }
}

.text-small {
    font-size: var(--fz-sm);
}

.text-secondary {
    font-family: 'Trebuchet MS', sans-serif;
    size: var(--fz-sm);
}

a,
a:hover,
a:active,
a:visited {
    font: inherit;
    color: var(--apl-color-secondary-default);
    text-decoration: inherit;

    &:hover {
        color: var(--apl-color-secondary-hover);
        text-decoration: inherit;
        svg {
            color: var(--apl-color-secondary-hover);
        }
    }
}

button {
    a {
        font: inherit;
        color: inherit !important;
        text-decoration: inherit;
    }
}

.text-highlight {
    color: var(--apl-color-secondary-default)
}
