.position {
    &-fixed {
        position: fixed;
    }

    &-relative {
        position: relative;
    }
}

.container {
    margin-inline: auto;
}

.flex {
    display: flex;

    &-column {
        flex-direction: column;
    }

    &-row {
        flex-direction: row;
    }
}

.grid {
    display: grid;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.justify-content {
    &-center {
        justify-content: center;
    }

    &-space-between {
        justify-content: space-between;
    }
}

.align-items {
    &-center {
        align-items: center;
    }
}

.padding {
    &-left {
        &-12 {
            padding-left: 12px;
        }
    }
}

.margin {
    &-bottom {
        &-sm {
            margin-bottom: 16px;
        }
        &-md {
            margin-bottom: 24px;
        }
    }

    &-top {
        &-sm {
            margin-top: 16px;
        }
        &-md {
            margin-top: 24px;
        }
    }
}

.gap {
    &-xs {
        gap: 12px;
    }

    &-md {
        gap: 24px;
    }
}

.w-100 {
    width: 100%;
}