@import './style-dictionary/style-dictionary-variables.scss';

$secondary-color: #2ad1d3;

:root {
    --color-secondary: #{$secondary-color};
    --apl-color-warn:#{$apl-color-warn};
    --apl-color-warn-2: #{$apl-color-warn-2};
    --apl-color-blue: #{$apl-color-blu};
    --apl-color-blue-2: #{$apl-color-blue-2};
    --apl-color-blue-3: #{$apl-color-blue-3};
    --apl-color-light-blue: #{$apl-color-light-blue};
    --apl-color-light-violet: #{$apl-color-light-violet};
    --apl-color-light-pink: #{$apl-color-light-pink};
    --apl-color-background-blue: #{$apl-color-background-blue};
    --apl-color-gradient1: #{$apl-color-gradient1};
    --apl-color-gradient2: #{$apl-color-gradient2};
    --apl-color-primary-default: #{$apl-color-primary-default};
    --apl-color-primary-hover: #{apl-color-primary-hover};
    --apl-color-success-default: #{$apl-color-success-default};
    --apl-color-success-hover: #{$apl-color-success-hover};
    --apl-color-darks-black: #{$apl-color-darks-blac};
    --apl-color-darks-blue: #{$apl-color-darks-blue};
    --apl-color-darks-gray: #{$apl-color-darks-gray};
}
