@import './style-dictionary/style-dictionary-variables.scss';

:root {
    --apl-color-warn:#{$apl-color-warn};
    --apl-color-warn-2: #{$apl-color-warn-2};
    --apl-color-blue: #{$apl-color-blue};
    --apl-color-blue-2: #{$apl-color-blue-2};
    --apl-color-blue-3: #{$apl-color-blue-3};
    --apl-color-light-blue: #{$apl-color-light-blue};
    --apl-color-light-violet: #{$apl-color-light-violet};
    --apl-color-light-pink: #{$apl-color-light-pink};
    --apl-color-background-blue: #{$apl-color-background-blue};
    --apl-color-gradient1: #{$apl-color-gradient1};
    --apl-color-gradient2: #{$apl-color-gradient2};
    --apl-color-primary-default: #{$apl-color-primary-default};
    --apl-color-primary-hover: #{$apl-color-primary-hover};
    --apl-color-success-default: #{$apl-color-success-default};
    --apl-color-success-hover: #{$apl-color-success-hover};
    --apl-color-darks-black: #{$apl-color-darks-black};
    --apl-color-darks-blue: #{$apl-color-darks-blue};
    --apl-color-darks-gray: #{$apl-color-darks-gray};
    --apl-color-secondary-hover: #{$apl-color-secondary-hover};
    --apl-color-secondary-default: #{$apl-color-secondary-default};
    --apl-text-body-color: #e5e5e5;

    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-h1: 60px;
    --fz-h2: 48px;
    --fz-h3: 36px;
    --fz-h4: 32px;
}
