@import './styles/responsive.scss';

.background {
    position: fixed;
}

.graphic {
    position: fixed;
    bottom: 0;
    right: 0;
}

.wrapper {
    height: 100vh;

    @include respond(tablet) {
        padding: 0 1rem;
    }
}

.main-content {
    position: relative;
    height: 100%;
    width: 100%;
    // padding-top:7rem;
    overflow: auto;
}

section {
    padding: 3rem;
    height: 100%;
    width: 70%;
    margin: auto;


    @include respond(tablet) {
        padding: 0;
        width: 100%;
    }
}
