.background {
    position: fixed;
}

.graphic {
    position: fixed;
    bottom: 0;
    right: 0;
}

.wrapper {
    padding: 3rem;
    height: 100vh;
}

.main-content {
    // border: 1px solid white;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top:7rem;
    overflow: auto;
}

section {
    height: 100%;
}

// .container {
//     height: 100%;
//     padding: 36px;
// }
