<div class="background">
    <img src="../assets/dark aurora vector.svg" alt="" class="graphic" />
    <img src="../assets/pink aurora vector.svg" alt="" class="graphic" />
    <img src="../assets/squiggly.svg" alt="" class="graphic" />
    <img src="../assets/squiggly.svg" alt="" class="graphic" />
</div>
<div class="flex wrapper">
    <app-navigation></app-navigation>
    <div class="container main-content">
        <section>
            <app-intro></app-intro>
        </section>
        <section id="about">
            <app-about></app-about>
        </section>
    </div>
</div>
