<div class="background">
    <img
        src="../assets/graphics/dark aurora vector.svg"
        alt=""
        class="graphic"
    />
    <img
        src="../assets/graphics/pink aurora vector.svg"
        alt=""
        class="graphic"
    />
    <img src="../assets/graphics/squiggly.svg" alt="" class="graphic" />
    <img src="../assets/graphics/squiggly.svg" alt="" class="graphic" />
</div>
<div class="flex wrapper flex-column">
    <app-navigation></app-navigation>
    <div class="container main-content">
        <section id="about">
            <app-about></app-about>
        </section>
        <section id="experience">
            <app-work-experience></app-work-experience>
        </section>
        <section>
            <app-work></app-work>
        </section>
        <app-footer></app-footer>
    </div>
</div>
