@import './styles/responsive.scss';

.background {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}

.graphic {
    position: fixed;
    bottom: 0;
    right: 0;
}

.wrapper {
    height: 100vh;

    @include respond(tablet) {
        padding: 0 1rem;
    }
}

.main-content {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-top: 2rem;
}

section {
    padding: 3rem 3rem 10rem 3rem;
    width: 70%;
    margin: auto;

    @include respond(tablet) {
        padding: 0.5rem;
        width: 100%;
    }
}
