@import '../styles/responsive.scss';

.navigation-shortcut {
    display: none;

    @include respond(tablet) {
        display: block;
        position: absolute;
        z-index: 1000;
        left: 10px;
        top: 10px;
    }
}

.navigation {
    padding: 2rem 1rem 1rem 2rem;
    height: 100%;

    @include respond(tablet) {
        padding: 3.5rem 1rem 1rem 1rem;
        position: absolute;
        left: -175px;
        transition-property: left;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        z-index: 100;
        background-color: #131e7f8b;
        backdrop-filter: blur(20px);
        flex-direction: column;
        border-radius: 0 8px 8px 0;
    }
}

.navigation-menu-open {
    left: 0;
    transition-property: left;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
