.portfolio-button {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    border: 2px solid var(--color-secondary);
    color: var(--color-secondary);
    border-radius: 2px;
    height: 40px;
    padding: 0 12px;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}