@import '../../styles/responsive.scss';

.profile {
    max-width: 200px;
    position: relative;
    z-index: 4;
    border-radius: 50%;
    overflow: hidden;

    &::before {
        content: '';
        background-color: var(--apl-color-blue);
        position: absolute;
        inset: 0;
    }

    &-img {
        filter: contrast(1.6);
        opacity: 0.7;
        transition: opacity ease-in-out 0.5s;

        &:hover {
            opacity: 0.9;
        }
    }

    @include respond(tablet) {
        right: 0;
        top: 0;
    }
}

.about-me-background {
    height: 0;
    opacity: 0;
    transition: opacity 0s ease-in-out 0s, height 0.3s ease-in-out 0s;
    p {
        display: none;
    }
    &-open {
        height: 100%;
        opacity: 1;
        transition: opacity 0s ease-in-out 0.3s, height 0.3s ease-in-out 0s;
        p {
            display: block;
        }
    }
}
