@import '../../styles/responsive.scss';

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem;
    gap: 1rem;
    border-radius: 12px;

    &-glow {
        background: var(--apl-color-blue);
        border: 1px solid var(--apl-color-light-violet);
        box-shadow: rgba(255, 255, 255, 0.133) 0px 8px 24px;
    }

    &-primary {
        background: var(--apl-color-primary-default);
        box-shadow: rgba(0, 29, 58, 0.461) 0px 8px 24px;
    }

    &-glass {
        background-color: #131e7f84;
        backdrop-filter: blur(10px);
        // border: 1px solid rgba(128, 12#131d7f8, 128, 0.282);
    }

    @include respond(tablet) {
        padding: 1rem;
    }
}
