.box {
    margin-left: 64px;
    width: 30vw;;
    position: relative;
    border: 1px solid 3339D1;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: rgba(0, 29, 58, 0.461) 0px 8px 24px;
    background-color: #3339D1;
}