.box {
    border: 1px solid 3339D1;
    padding:2rem;
    width: 30%;
    margin: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 29, 58, 0.461) 0px 8px 24px;
    transform: translateY(50%);
    background-color: #3339D1;
}